

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
}
.mat-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.mat-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.mat-card-content, .mat-card-subtitle {
    font-size: 14px;
}
.mat-card-content, .mat-card-subtitle {
    font-size: 14px;
}
.mat-card {
    background: #fff;
    color: rgba(0,0,0,.87);
}
.mat-card {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.mat-card {
    background: #fff;
    color: rgba(0,0,0,.87);
}
.mat-card {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}






a {
  text-decoration: none;
}


.signIn{
  color: #4586ee;
  font-weight: bold;
  cursor: pointer;
  // margin-top: 20%;
}


.mainform{
  // border-top-left-radius: 13%;
  border-top-left-radius: 3.5em 3.5em;

  position: relative;
   margin-top: -56px;
   background: #FFFFFF;
}



.box{
  top: 103px;
left: 456px;
width: 582px;
// height: 564px;
opacity: 1;
font-size: small;
}