<div fxLayout="column">
    <div  class="absolute-center" style="height: 270px; background: black;">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div style="color: white;font-size: 110px; font-weight: 900;">MindBowser</div>
            <div style="color: white;font-weight: 600;font-size: 30px;">Solutions</div>
        </div>

    </div>


    <div fxLayout='column' class="mainform"  fxLayoutAlign="center center" fxFlex="100" fxFlex.xs="100">


        <!-- <mat-card fxFlex=100 fxFlex.xs="100"> -->
            <div>

                <div  fxLayoutAlign="center center">
                    <div >
                        <h1 >Signup</h1>
                        <h5>To start using app</h5>
                    </div>
                </div>
                

                <form [formGroup]="registerForm" autocomplete="off" novalidate
                    (ngSubmit)="registerUser(registerForm.value)" style="width: 100%; padding-top: 10px;">
                    <mat-card-content>
                        <div>
                            <mat-card-subtitle>SIGNUP</mat-card-subtitle>
                        </div>

                        <div fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayout.xs="column">
                            <div fxFlex="100">
                                <mat-form-field appearance="outline" fxFlex="100" fxFlex.xs="100">
                                    <mat-label>First Name</mat-label>
                                    <input matInput type="text" placeholder="firstName" formControlName="firstName"
                                        id="fisrtName">
                                    <mat-error *ngIf="registerForm.hasError('required', 'firstName')">Name is required
                                    </mat-error>

                                </mat-form-field>
                            </div>

                            <div fxFlex="100">
                                <mat-form-field appearance="outline" fxFlex="100" fxFlex.xs="100">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput type="text" placeholder="LastName" formControlName="lastName"
                                        >
                                    <mat-error *ngIf="registerForm.hasError('required', 'lastName')">Name is required
                                    </mat-error>

                                </mat-form-field>
                            </div>
                        </div>

                        <div>
                            <mat-form-field appearance="outline" fxFlex="100" fxFlex.xs="100">
                                <mat-label>Email</mat-label>
                                <input matInput type="text" placeholder="Enter Email" formControlName="email">
                                <mat-error *ngIf="registerForm.hasError('required', 'email')">email is required
                                </mat-error>

                                <mat-icon matSuffix>email</mat-icon>
                            </mat-form-field>
                        </div>

                        <div>
                            <div fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayout.xs="column">
                                <div fxFlex="100">
                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.xs="100">
                                        <mat-label>Password</mat-label>
                                        <input matInput type="text" placeholder="Password" formControlName="password"
                                            id="password" [type]="hide ? 'password' : 'text'">
                                        <div matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                            [attr.aria-pressed]="hide" class="i">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </div>
                                        <mat-error *ngIf="registerForm.hasError('required', 'password')">
                                            password is required
                                        </mat-error>

                                    </mat-form-field>
                                </div>

                                <div fxFlex="100">
                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.xs="100">
                                        <input matInput [matDatepicker]="picker"  [max]="maxDate" placeholder="Date of Birth"
                                            formControlName="dob">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error *ngIf="registerForm.hasError('required', 'dob')">Date of birth is
                                            required
                                        </mat-error>
                                    </mat-form-field>
                                </div>



                            </div>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                                <div fxFlex="100" fxFlex.xs=100>
                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.xs="100">
                                        <mat-label>compnay</mat-label>
                                        <input matInput type="text" placeholder="Enter Compnay Name" formControlName="company"
                                            >
                                        <mat-error *ngIf="registerForm.hasError('required', 'company')">company Name
                                            is
                                            required
                                        </mat-error>

                                    </mat-form-field>
                                </div>
                                <div fxFlex="100">
                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.xs="100">
                                        <mat-label>address</mat-label>
                                        <input matInput type="text" placeholder="Enter Address" formControlName="address"
                                            >
                                        <mat-error *ngIf="registerForm.hasError('required', 'address')">Address is
                                            required
                                        </mat-error>

                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div fxLayoutAlign="space-between center">
                            <a class="signIn" routerLink="/login">login in instead</a>
                            <button mat-raised-button color="primary" [disabled]="!registerForm.valid">REGISTER</button>
                        </div>
                    </mat-card-content>

                </form>
            </div>


        <!-- </mat-card> -->
    </div>
</div>